# Ignore Xcode build files everywhere
**/build/
**/DerivedData/

# User-specific settings
**/*.xcuserdata/
**/*.xcuserstate
**/*.xcworkspace/xcuserdata/
**/*.xcworkspace/
**/xcuserdata/

# macOS system files
.DS_Store

# Swift Package Manager
**/.build/
**/Package.resolved

# Xcode project artifacts
**/*.xccheckout
**/*.moved-aside
**/*.xcscmblueprint

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/*.pywz
**/*.pyzw
**/*.pyzwz
**/*.pyzwzw
.env
backend/config.json
backend/input_data.json
backend/needed_data.json
backend/test*.py

# RNNModel
RNNModel/my_model.keras
RNNModel/my_model_metadata.json
RNNModel/input_data.json
RNNModel/output*.json